@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html, body{
    color: white;
    background: #21232a;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    padding: 70px;
}

.btn{
    border: none;
    background: #37D3AD;
    color: #ffffff;
    padding: 10px;
    font-size: 15px;
    border-radius: 4px;
    margin-right: 5px;
}